[submodule "plugin-foreign-env"]
	path = plugin-foreign-env
	url = https://github.com/oh-my-fish/plugin-foreign-env.git
[submodule "icons"]
	path = icons
	url = https://github.com/gvolpe/BeautyLine.git
